.buttonOption {
	width: 100%;
	padding: 5px;
	border: 2px solid grey;
	border-radius: 5px;
	height: 40px;
	background-color: rgb(49, 75, 223);
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}

.controlButtons {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}